@define-color error #%%error%%;
@define-color on_error #%%on_error%%;
@define-color on_surface #%%on_surface%%;
@define-color surface #%%surface%%;
@define-color surface_container #%%surface_container%%;
@define-color surface_container_highest #%%surface_container_highest%%;

#window,
#box,
#aiScroll,
#aiList,
#search,
#password,
#input,
#prompt,
#clear,
#typeahead,
#list,
child,
scrollbar,
slider,
#item,
#text,
#label,
#bar,
#sub,
#activationlabel {
  all: unset;
}

#cfgerr {
  background: @error;
  color: @on_error;
  margin-top: 20px;
  padding: 8px;
  font-size: 1.2em;
}

#window {
  color: @on_surface;
}

#box {
  border-radius: 15px;
  background: @surface;
  padding: 15px;
}

#search {
  background: @surface_container;
  color: @on_surface_container;
  padding: 8px;
  border-radius: 15px;
}

#prompt {
  margin-left: 4px;
  margin-right: 12px;
  opacity: 0.2;
}

#clear {
  color: @on_surface;
  opacity: 0.8;
}

#password,
#input,
#typeahead {
  border-radius: 2px;
}

#input {
  background: none;
}

#password {
}

#spinner {
  padding: 8px;
}

#typeahead {
  color: @on_surface;
  opacity: 0.8;
}

#input placeholder {
  opacity: 0.5;
}

#list {
}

child {
  padding: 8px;
  border-radius: 10px;
}

child:selected,
child:hover {
  background: @surface_container_highest;
  color: @on_surface_container;
}

#item {
}

#icon {
  margin-right: 8px;
}

#text {
}

#label {
  font-weight: 500;
}

#sub {
  font-size: g.8em;
}

#activationlabel {
}

#bar {
}

.barentry {
}

.activation #activationlabel {
}

.activation #text,
.activation #icon,
.activation #search {
  opacity: 0.5;
}

.aiItem {
  padding: 10px;
  border-radius: 2px;
  color: @on_surface;
  background: @surface;
}

.aiItem.user {
  padding-left: 0;
  padding-right: 0;
}

.aiItem.assistant {
  background: @surface_container;
}
